
.rdblog-cover .rdblog-cover-heading1{
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  width: 1000px;
  display: inline-block;
  padding-top: 80px;
}
.rdblog-cover .rdblog-cover-pera1 .rdblog-cover-span{
  color: #2405F2;
}
.rdblog-cover .rdblog-cover-pera1{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding-top: 32px;
  width: 840px;
}


.rdblog-cover .rdblog-cover-heading2{
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding-top: 40px;
}
.rdblog-cover .rdblog-cover-pera2{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding-top: 32px;
  width: 840px;
}
.rdblog-cover .rdblog-cover-pera2 .rdblog-cover-span{
  color: #2405F2;
}
.rdblog-cover .rdblog-cover-ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 24px;
}
.rdblog-cover .rdblog-cover-pera3{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 840px;
}
.rdblog-cover .rdblog-cover-pera3 .rdblog-cover-span{
  color: #2405F2;
}